.hero-bg {

    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(29, 143, 158);

    bottom: 0;
    left: 50%;

    transform: skewX(30deg);
    // border-radius: 50%;
    filter: blur(250px);

    -webkit-filter: blur(250px);
    /* Safari and Chrome */
    -moz-filter: blur(250px);
    /* Firefox */
    -o-filter: blur(250px);
    /* Opera */
    -ms-filter: blur(250px);
    /* Internet Explorer */
    background-blend-mode: multiply;

    -webkit-background-blend-mode: multiply;
    /* Safari and Chrome */
    -moz-background-blend-mode: multiply;
    /* Firefox */
    -o-background-blend-mode: multiply;
    /* Opera */
    z-index: -1;
}

.hero-bg2 {

    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(25, 123, 136);

    bottom: 0;
    left: 50%;
    transform: skewX(30deg);
    // border-radius: 50%;
    filter: blur(250px);
    z-index: -1;
}

.hero-bg3 {

    position: absolute;
    width: 20rem;
    height: 20rem;
    background: purple;

    bottom: 0;
    left: 70%;
    transform: skewX(30deg);
    // border-radius: 50%;
    filter: blur(350px);

    background-blend-mode: multiply;
    z-index: -1;
}

.hero-bg-light {
    position: absolute;
    width: 1rem;
    height: 40rem;
    background: indigo;

    top: 0;
    left: 50%;

    transform: skewX(-50deg);
    // border-radius: 50%;
    filter: blur(90px);
    background-blend-mode: multiply;
    z-index: -1;
}

.hero-bg-light2 {
    position: absolute;
    width: 5rem;
    height: 40rem;
    background: lightblue;

    top: 0;
    left: 60%;

    transform: skewX(-50deg);
    // border-radius: 50%;
    filter: blur(90px);
    background-blend-mode: multiply;
    z-index: -1;
}

.hero-bg-light3 {
    position: absolute;
    width: 1rem;
    height: 40rem;
    background: orange;

    top: 0;
    left: 70%;

    transform: skewX(-50deg);
    // border-radius: 50%;
    filter: blur(100px);
    background-blend-mode: multiply;
    z-index: -1;
}

.hero-bg-light3 {
    position: absolute;
    width: 20rem;
    height: 40rem;
    background: rgb(255, 164, 255);

    top: 5%;
    left: 80%;

    transform: skewX(-50deg);
    // border-radius: 50%;
    filter: blur(450px);
    background-blend-mode: multiply;
    z-index: -1;
}


// About
.about-bg-night {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(29, 143, 158);

    top: 30%;
    left: 50%;

    transform: skewX(-30deg);
    // border-radius: 50%;
    filter: blur(350px);
    background-blend-mode: multiply;
    z-index: -1;
}


.about-bg-light {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: lightblue;

    bottom: 0;
    left: 50%;

    transform: skewX(-30deg);
    // border-radius: 50%;
    filter: blur(350px);
    background-blend-mode: multiply;
    z-index: -1;
}

// Skills
.skills-bg-night {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(97, 217, 233);

    top: 30%;
    left: 50%;

    transform: skewX(-30deg);
    // border-radius: 50%;
    filter: blur(250px);
    background-blend-mode: multiply;
    z-index: -1;
}


.skills-bg-light {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(97, 217, 233);

    top: 30%;
    left: 50%;

    transform: skewX(-30deg);
    // border-radius: 50%;
    filter: blur(250px);
    background-blend-mode: multiply;
    z-index: -1;
}

// Certificates
.cert-bg-night {
    position: absolute;
    width: 3rem;
    height: 50rem;
    background: rgb(97, 217, 233);

    top: 30%;
    left: 50%;

    transform: skewX(30deg);
    // border-radius: 50%;
    filter: blur(150px);
    background-blend-mode: multiply;
    z-index: -1;
}


.cert-bg-light {
    position: absolute;
    width: 3rem;
    height: 50rem;
    background: rgb(29, 143, 158);

    top: 30%;
    left: 50%;

    transform: skewX(30deg);
    // border-radius: 50%;
    filter: blur(150px);
    background-blend-mode: multiply;
    z-index: -1;
}

// Projects
.projects-bg-night {
    position: absolute;
    width: 10rem;
    height: 50rem;
    background: rgb(97, 217, 233);

    top: 30%;
    left: 50%;

    transform: skewX(30deg);
    // border-radius: 50%;
    filter: blur(280px);
    background-blend-mode: multiply;
    z-index: -1;
}

.projects-bg-night2 {
    position: absolute;
    width: 10rem;
    height: 50rem;
    background: lightsteelblue;

    bottom: 0%;
    left: 50%;

    transform: skewX(-30deg);
    // border-radius: 50%;
    filter: blur(300px);
    background-blend-mode: multiply;
    z-index: -1;
}

.projects-bg-light {
    // rgb(29, 143, 158);
    position: absolute;
    width: 10rem;
    height: 50rem;
    background: rgb(60, 198, 216);

    top: 30%;
    left: 50%;

    transform: skewX(30deg);
    // border-radius: 50%;
    filter: blur(180px);
    background-blend-mode: multiply;
    z-index: -1;
}