.hero-bg {
    position: absolute;
    width: 9rem;
    height: 60rem;
    background: rgb(29, 143, 158);
    top: 0;
    left: 50%;
    transform: skewX(30deg);
    filter: blur(150px);
    background-blend-mode: multiply;
    z-index: -1;
}

.hero-bg-light {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(255, 227, 175);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: blur(100px);
    background-blend-mode: multiply;
    z-index: -1;
}

// About
.about-bg-night {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: rgb(29, 143, 158);
    bottom: 0;
    left: 50%;
    transform: skewX(-30deg);
    filter: blur(150px);
    background-blend-mode: multiply;
    z-index: -1;
}

.about-bg-light {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: rgb(255, 227, 175);

    bottom: 0;
    left: 50%;
    // border-radius: 50%;
    filter: blur(100px);
    background-blend-mode: multiply;
    z-index: -1;
}

// Skills
.skills-bg-night {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: rgb(29, 143, 158);
    top: 30%;
    left: 50%;
    transform: skewX(-30deg);
    // border-radius: 50%;
    filter: blur(150px);
    background-blend-mode: multiply;
    z-index: -1;
}


.skills-bg-light {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: rgb(255, 227, 175);
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    filter: blur(100px);
    background-blend-mode: multiply;
    z-index: -1;
}

// Certificates
.cert-bg-night {
    position: absolute;
    width: 3rem;
    height: 50rem;
    background: rgb(29, 143, 158);

    top: 30%;
    left: 50%;
    transform: skewX(30deg);
    filter: blur(150px);
    background-blend-mode: multiply;
    z-index: -1;
}


.cert-bg-light {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(255, 227, 175);
    top: 30%;
    left: 50%;
    border-radius: 50%;
    filter: blur(100px);
    background-blend-mode: multiply;
    z-index: -1;
}

// Projects
.projects-bg-night {
    position: absolute;
    width: 10rem;
    height: 50rem;
    background: rgb(29, 143, 158);
    top: 30%;
    left: 50%;
    transform: skewX(30deg);
    filter: blur(150px);
    background-blend-mode: multiply;
    z-index: -1;
}

.projects-bg-light {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: rgb(255, 227, 175);
    top: 30%;
    left: 50%;
    border-radius: 50%;
    filter: blur(100px);
    background-blend-mode: multiply;
    z-index: -1;
}