@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Calistoga&family=Montserrat:wght@400;500&family=Secular+One&display=swap');
:root {
  --dark: #000B20;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.section--heading__divider {
  position: relative;
  width: min-content;
  margin: 0 auto;
  color: var(--dark);
  font-weight: 700;
}

.section--heading__divider::after {
  content: "";
  display: block;
  width: 5rem;
  height: 2px;
  background: black;
  position: absolute;
  top: 50%; right: 0; left: 100%;
}

.section--heading__divider::before {
  content: "";
  display: block;
  width: 5rem;
  height: 2px;
  background: black;
  position: absolute;
  top: 50%;
  right: 100%;
}
.hero-page {
  padding: 6rem 0;
  padding-bottom: 0;
}

#hero-page__subheading {
  max-width: 45rem;
}

#about--paragraph {

  font-family: 'Montserrat', sans-serif;
}

.project-icon {
  transition: all 200ms;
}

.project-icon:hover {
  transform: scale(1.2);
}

.footer-icon {
  fill: white;
}

.portfolio-logo {
  display: block;
  max-width: 12rem
}

#nav-icon {
  max-width: 5.5rem;
}

@media screen and (min-width: 992px) {

  .hero-page {
    padding: 0;
    min-height: 100vh;
    height: 100%;
  }

  .hero-content {
    min-height: 100vh;
  }

  .about {
    min-height: 80vh;
  }

  .skills {
    min-height: 90vh;
  }
}